<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>内务府</title>
	<meta content="yes" name="apple-touch-fullscreen">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<script src="../public/javascripts/libs/flexible.js"></script>
	<script src="../public/javascripts/libs/zepto.min.js"></script>
	<meta content="email=no" name="format-detection" />
	<link rel="stylesheet" href="../public/stylesheets/reset.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1465804013_4354286.css">
	<link rel="stylesheet" href="../public/stylesheets/main.css">
	<link rel="stylesheet" href="../public/stylesheets/index.css">
</head>
<body>
	<div class="wrapper">
		<!-- 头部 -->
		<div class="header">
			<h1><i class="iconfont icon-logo"></i>还你一个完美的家</h1>
		</div>
		<!-- 轮播 -->
		<div class="slide" >
		    <ul>
		        <li>
		           <a href="#">
		                <img src="../public/images/slider1.jpg" alt="">
		            </a>
		        </li>
		        <li>
		            <a href="#">
		                <img src="../public/images/slider2.jpg" alt="">
		            </a>
		        </li>
	
		    </ul>
		    <div class="dot">
		        <span></span>
		        <span></span>
   			</div>
		</div>
		<!-- Icon -->
   		<div class="icon">
   			<div class="icon-box1">
   				<a href="#"><dl><dt><i class="iconfont icon-shui"></i></dt><dd>水</dd></dl></i></a>
	   			<a href="#"><dl><dt><i class="iconfont icon-shui"></i></dt><dd>水</dd></dl></i></a>
	   			<a href="#"><dl><dt><i class="iconfont icon-shui"></i></dt><dd>水</dd></dl></i></a>
	   			<a href="#"><dl><dt><i class="iconfont icon-shui"></i></dt><dd>水</dd></dl></i></a>
   			</div>
   			<div class="icon-box2">
   				<a href="#"><dl><dt><i class="iconfont icon-shui"></i></dt><dd>水</dd></dl></i></a>
	   			<a href="#"><dl><dt><i class="iconfont icon-shui"></i></dt><dd>水</dd></dl></i></a>
	   			<a href="#"><dl><dt><i class="iconfont icon-shui"></i></dt><dd>水</dd></dl></i></a>
	   			<a href="#"><dl><dt><i class="iconfont icon-shui"></i></dt><dd>水</dd></dl></i></a>
   			</div>
   		</div>
   		<!-- banner -->
   		<div class="banner-contanier">
	   		<div class="banner clear-float">
	   			<div class="img-box">
	   				<img src="../public/images/banner1.jpg" alt="">
	   			</div>
	   			<div class="banner-info">
	   				<dl>
	   					<dt>墙面刷新</dt>
	   					<dd>**元/平米</dd>
	   				</dl>
	   				<a class="order" href="">预定</a>
	   			</div>
	   		</div>
	   		<div class="banner clear-float">
	   			<div class="banner-info">
	   				<dl>
	   					<dt>墙面瓷砖</dt>
	   					<dd>**元/平米</dd>
	   				</dl>
	   				<a class="order" href="">预定</a>
	   			</div>
	   			<div class="img-box">
	   				<img src="../public/images/banner2.jpg" alt="">
	   			</div>
	   		</div>
	   		<div class="banner clear-float">
	   			<div class="img-box">
	   				<img src="../public/images/banner1.jpg" alt="">
	   			</div>
	   			<div class="banner-info">
	   				<dl>
	   					<dt>墙面刷新</dt>
	   					<dd>**元/平米</dd>
	   				</dl>
	   				<a class="order" href="">预定</a>
	   			</div>
	   		</div>
	   		<div class="banner clear-float">
	   			<div class="banner-info">
	   				<dl>
	   					<dt>墙面瓷砖</dt>
	   					<dd>**元/平米</dd>
	   				</dl>
	   				<a class="order" href="">预定</a>
	   			</div>
	   			<div class="img-box">
	   				<img src="../public/images/banner2.jpg" alt="">
	   			</div>
	   		</div>
	   		<div class="banner clear-float">
	   			<div class="img-box">
	   				<img src="../public/images/banner1.jpg" alt="">
	   			</div>
	   			<div class="banner-info">
	   				<dl>
	   					<dt>墙面刷新</dt>
	   					<dd>**元/平米</dd>
	   				</dl>
	   				<a class="order" href="">预定</a>
	   			</div>
	   		</div>
	   		<div class="banner clear-float">
	   			<div class="banner-info">
	   				<dl>
	   					<dt>墙面瓷砖</dt>
	   					<dd>**元/平米</dd>
	   				</dl>
	   				<a class="order" href="">预定</a>
	   			</div>
	   			<div class="img-box">
	   				<img src="../public/images/banner2.jpg" alt="">
	   			</div>
	   		</div>
	   		<div class="banner clear-float">
	   			<div class="img-box">
	   				<img src="../public/images/banner1.jpg" alt="">
	   			</div>
	   			<div class="banner-info">
	   				<dl>
	   					<dt>墙面刷新</dt>
	   					<dd>**元/平米</dd>
	   				</dl>
	   				<a class="order" href="">预定</a>
	   			</div>
	   		</div>
	   		<div class="banner clear-float">
	   			<div class="banner-info">
	   				<dl>
	   					<dt>墙面瓷砖</dt>
	   					<dd>**元/平米</dd>
	   				</dl>
	   				<a class="order" href="">预定</a>
	   			</div>
	   			<div class="img-box">
	   				<img src="../public/images/banner2.jpg" alt="">
	   			</div>
	   		</div>
   		</div>

		<!-- nav -->
		<div class="place-holder"></div>
		<div class="nav">
			<ul>
				<a class="menu" href="">
					<li><span>服务列表</span></li>
				</a>
				<a class="home" href="">
					<li><span>首&nbsp&nbsp&nbsp页</span></li>
				</a>
				<a href="" class="star-order">
					<li><span>开始预定</span></li>
				</a>
			</ul>
		</div>
	</div>
	<script src="../public/javascripts/com/swipeSlide.min.js"></script>
	<!-- 轮播调用 -->
	<script>
	 	$('.slide').swipeSlide({
	        continuousScroll:true,
	        speed : 3000,
	        transitionType : 'cubic-bezier(0.22, 0.69, 0.72, 0.88)',
	        firstCallback : function(i,sum,me){
	            me.find('.dot').children().first().addClass('cur');
	        },
	        callback : function(i,sum,me){
	            me.find('.dot').children().eq(i).addClass('cur').siblings().removeClass('cur');
	        }
	    });
	</script>
</body>
</html>