/******** CSS reset goes here ********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

/********* CSS reset ends *********/

/*********** Global Styles ***********/
/********** 全局样式可添加在此处 *********/
@font-face{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Source Code Pro';
  src:url('http://fontstatic.useso.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD5bPFduIYtoLzwST68uhz_Y.woff2');
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.clearfloat:after{
  height: 0;
  content: '';
  display: block;
  clear: both;
}


/********* Global Styles end ***********/

/*** 自己的样式建议添加 namespace- 以避免被后面其他人的样式覆盖 ***/
/*** 如：.qz-block .qz-text ***/
/*********** 张磊磊 ***********/

/*********** 乔震 ************/

/*********** 鲍鲍 ************/

/*********** 小鑫鑫 **********/

/*********** 岳谱 ************/
