/******** CSS reset goes here ********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

/********* CSS reset ends *********/

/*********** Global Styles ***********/
/********** 全局样式可添加在此处 *********/
.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/********* Global Styles end ***********/

/*** 自己的样式建议添加 namespace- 以避免被后面其他人的样式覆盖 ***/
/*** 如：.qz-block .qz-text ***/
/*********** 张磊磊 ***********/

/*********** 乔震 ************/

.qzservice{
  background-color: #fff;
  padding: 20px 10px;
  width: 100%;
}

.qzservice-head{
  text-align: center;
}

.qzservice-head h2{
  color:#000;
  font-size:2.7em;
  font-family:'Century Gothic';
  margin-bottom:14px;
  letter-spacing:1.3px;
  font-weight:600;
}

.qzservice-head h3{
  color: #000;
  font-size:1.2em;
  word-spacing:2px;
  letter-spacing:1.2px;
  font-weight:600;
  font-family: 'Source Code Pro'; 
}

.qzservice-grids{
  margin-top: 20px;
}

.qzservice-grid{
  float: left;
  text-align: center;
  width: 33%;
  min-width: 250px;
  padding: 20px 20px;
}

.qzservice-grid h2{
color:#000;
font-family:Century Gothic;
margin-top:1.5em;
font-weight:600;
font-size:2.1em;
}

.qzservice-grid h3{
color:#000;
font-size:1.2em;
margin-top:1em;
word-spacing:1.5px;
font-family: 'Source Code Pro';
}

.qzservice-grid img{
  width: 50%;
  height:auto;
}

.qzclearfloat:after{
  display: block;
  content: '';
  height: 0;
  clear: both;
  zoom:1;
}

.qzauthor{
  background-color: #000;
  max-width: 100%;
  padding: 70px 0;
  text-align: center;
}

.qzauthor h2{
  color:#fff;
  font-size:2em;
  letter-spacing:1px;
  font-weight:400;
  font-family: 'Source Code Pro';
  text-transform:uppercase;
  padding: 0 15px;
}

.qzauthor h2 span{
display:inline-block;
margin-top:15px;
}

.qzauthor h3{
color:#fff;
font-weight:600;
font-size:2.1em;
margin-top:2em;
font-family:'Century Gothic';
}
/*********** 鲍鲍 ************/

/*********** 小鑫鑫 **********/

/*********** 岳谱 ************/
